<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg px-4 py-2 shadow" id="mpheader">
    <a href="javascript:void(0)"  class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
      <i class="fas fa-align-left"></i></a>
    <a href="javascript:void(0)" class="navbar-brand font-weight-bold text-uppercase text-base" style="color:#fff;">Hospycare</a>
    <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
      <li class="nav-item dropdown ml-auto"><a id="userInfo" href="#" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" class="nav-link dropdown-toggle"><img style="height:20px;" src="/assets/img/rahul2015.png" alt="Rahul Meshram"
            style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
        <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Rahul
              Meshram</strong></a>
          <div class="dropdown-divider"></div><a href="login.html" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
