<p-panel header="Equipment Master">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        Code *:
      </div>
      <div class="ui-grid-col-4">
        <input pInputText type="text" [(ngModel)]="eqmMst.code" name="code"  #code="ngModel" required
        placeholder="Required" dir-letter-only>
        <small *ngIf="hasErrors(code)" class="help-block">
          <span *ngIf="code.errors.required"><span style="color:red">Code is required.</span></span>
        </small>
      </div>
      <div class="ui-grid-col-2">
        Name *:
      </div>
      <div class="ui-grid-col-4">
          <input pInputText type="text" [(ngModel)]="eqmMst.name" name="name" #name="ngModel" minlength="2" required
          placeholder="Required" dir-letter-only>
          <small *ngIf="hasErrors(name)" class="help-block">
            <span *ngIf="name.errors.required"><span style="color:red">Name is required.</span></span>
            <span *ngIf="name.errors.minlength">name must be at least 2 characters long.</span>
          </small>
        </div>      
    </div>

    
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
        Model No. *:
        </div>
        <div class="ui-grid-col-4">
          <input pInputText type="text" [(ngModel)]="eqmMst.modelNo" name="eqmModelNo"  #eqmModelNo="ngModel" required
          placeholder="Required" dir-letter-only>
          <small *ngIf="hasErrors(eqmModelNo)" class="help-block">
            <span *ngIf="eqmModelNo.errors.required"><span style="color:red">Model no is required.</span></span>
          </small>
        </div>
        <div class="ui-grid-col-2">
            Sr No. :
        </div>
        <div class="ui-grid-col-4">
          <input pInputText type="text" [(ngModel)]="eqmMst.srNo">
        </div>
    </div> 

    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
        Defunct *:
        </div>
        <div class="ui-grid-col-4">          
          <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="checked"></p-inputSwitch>
        </div> 
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-4"></div>
    </div> 


    <div class="ui-grid-row">
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-3">
            <button pButton label="Save" class="ui-button-success" (click)="onSave()"></button>            
        </div>
        <div class="ui-grid-col-3">
            <button pButton label="Cancel" class="ui-button-warning" (click)="onCancel()"></button>
        </div>
        <div class="ui-grid-col-3"></div>

    </div>
  </div>

  <!-- <table *ngIf="eqmMst">
    <tr>
      <td>Code</td>
      <td>
        <input type="text" [(ngModel)]="eqmMst.eqmCd">
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" [(ngModel)]="eqmMst.eqmName"></td>
    </tr>
    <tr>
      <td>Model No.</td>
      <td>
          <input type="text" [(ngModel)] ="eqmMst.eqmModelNo"></td>
    </tr>
    <tr>
      <td>Sr No.</td>
      <td>
          <input type="text" [(ngModel)] ="eqmMst.eqmSrNo"></td>
    </tr>
    <tr>
      <td>Defunct</td>
      <td>
          <input type="text" [(ngModel)] ="eqmMst.eqmDefunct"></td>
    </tr>
    <tr>
      <td><button (click)="onSave()" class="btn btn-primary">Save</button></td>
      <td><button (click)="onCancel()" class="btn btn-warning">Cancel</button></td>
    </tr>
  </table>
-->
</p-panel>
